body{
background:#d9d9d9 url('http://successagency.com/in/coming-soon-demo/blue-horizons-3/images/bg.gif') center top repeat-x;
}
a.webservices{
text-decoration:none;
color:#000000;
cursor:pointer;
}
#sublink{
font-size:12px;
}
#title{
margin:50px auto;
text-align:center;
font-family: 'Open Sans', sans-serif;
color:#ffffff;
}

#content{
max-width:800px;
margin: 0px auto;
background:#ffffff;
padding:15px;
font-family: 'Open Sans', sans-serif;
-webkit-box-shadow: 1px 0px 50px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow: 1px 0px 50px 0px rgba(50, 50, 50, 0.75);
box-shadow: 1px 0px 50px 0px #000000;
}
/*  SECTIONS  */
.section {
    clear: both;
    padding: 0px;
    margin: 0px;
}

/*  COLUMN SETUP  */
.col {
    display: block;
    float:left;
    margin: 1% 0 1% 1.6%;
text-align:center;
}
.col:first-child { margin-left: 0; }


/*  GROUPING  */
.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1; /* For IE 6/7 */
}
                                                
                    
/*  GRID OF TWO  */
.span_2_of_2 {
    width: 100%;
}
.span_1_of_2 {
    width: 49.2%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
    .col { 
        margin: 1% 0 1% 0%;
    }
}

@media only screen and (max-width: 480px) {
    .span_2_of_2 {
        width: 100%; 
    }
    .span_1_of_2 {
        width: 100%;
    }
}
label {
    display: inline-block;
    width: 5em;
}

/* ************************* SVG ******************* */

@-webkit-keyframes swinging {
0% {
    -webkit-transform: rotate(10deg);
}
50% {
    -webkit-transform: rotate(-5deg);
}
100% {
    -webkit-transform: rotate(10deg);
}
}
@keyframes swinging {
0% {
    transform: rotate(10deg);
}
50% {
    transform: rotate(-5deg);
}
100% {
    transform: rotate(10deg);
}
}
@-webkit-keyframes sleeping {
0% {
    opacity: 0;
}
50% {
    opacity: 1;
}
100% {
    opacity: 0;
}
}
@keyframes sleeping {
0% {
    opacity: 0;
}
50% {
    opacity: 1;
}
100% {
    opacity: 0;
}
}
#swinger {
-webkit-transform-origin: top center;
transform-origin: top center;
transform-box: fill-box;
-webkit-animation: swinging 3.5s ease-in-out forwards infinite;
animation: swinging 3.5s ease-in-out forwards infinite;
}

#zone {
opacity: 0;
-webkit-animation: sleeping 3.5s ease-in-out forwards infinite;
animation: sleeping 3.5s ease-in-out forwards infinite;
}

#ztwo {
opacity: 0;
-webkit-animation: sleeping 3.5s ease-in-out forwards infinite;
animation: sleeping 3.5s ease-in-out forwards infinite;
animation-delay: 0.4s;
-website-animation-delay: 0.4s;
}

#zthree {
opacity: 0;
-webkit-animation: sleeping 3.5s ease-in-out forwards infinite;
animation: sleeping 3.5s ease-in-out forwards infinite;
animation-delay: 0.7s;
-website-animation-delay: 0.7s;
}

#zfour {
opacity: 0;
-webkit-animation: sleeping 3.5s ease-in-out forwards infinite;
animation: sleeping 3.5s ease-in-out forwards infinite;
animation-delay: 1s;
-website-animation-delay: 1s;
}

#zfive {
opacity: 0;
-webkit-animation: sleeping 3.5s ease-in-out forwards infinite;
animation: sleeping 3.5s ease-in-out forwards infinite;
animation-delay: 1.3s;
-website-animation-delay: 1.3s;
}

svg {
max-width: 1000px;
}

/* ************************* CUSTOM ******************* */
.top-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    max-width: 100px;
    min-width: 50px;
    height: auto;
}


.tools-list {
    list-style: none;
    border-radius: 4px;
}
.tools-list li {
    padding: 10px 0 10px 0;
}
.tools-list li:nth-child(odd) {
    text-align: left;
    border-left: 10px solid #1488F3;
    padding-left: 4px;
    border-bottom: 10px solid #86bfff;
}
.tools-list li:nth-child(even) {
    text-align: right;
    border-right: 10px solid #1488F3;
    padding-right: 4px;
    border-bottom: 10px solid #86bfff;
}
  